body {
    background-color: white;
    color: black;
  }
  
main {
    height: 100vh;
    border-top: #CFBB6D solid 1px;
  }
.main-row {
    height: 100%;
  }

#buscar {
    background-color: white; 
    border: #333333 solid 1px;
    color: black;
  }

.search-column {
    border-right: #333333 solid 1px;
  }

  #map { 
    width: 610px;
    height: 400px; 
  
}
.card {
    background-color: white; 
    border: #333333 solid 1px;
    width: 100%;
    padding: 5px;
  }

.report {
    height: 33.3%;
  }

  #temperatura{
    font-size: 3.5rem;
  }

