body {
    background-color: white;
    color: black;
  }
  
main {
    height: 100vh;
    border-top: #CFBB6D solid 1px;
  }
.main-row {
    height: 100%;
  }

#buscar {
    background-color: white; 
    border: #333333 solid 1px;
    color: black;
  }

.search-column {
    border-right: #333333 solid 1px;
  }

  #map { 
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888; } 

.card {
    background-color: white; 
    border: #333333 solid 1px;
    width: 100%;
    padding: 5px;
  }

.report {
    height: 33.3%;
  }

  #temperatura{
    font-size: 3.5rem;
  }
  #estado{
    font-size: 2em;
  }
  
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
    display: block;
    width: 800px;
  }
