
.customBackground {
font-family: arial;
font-size: 24px;
margin: 25%;
width: 350px;
height: 350px;
position: relative;
}

.customBackgroundChild {
    width: 350px;
    height: 350px;
    background-color: rgb(108, 23, 123);
    outline: dashed 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -1px; 
  }

  